.icon {
  color: #555555;
  font-size: 12px;
}

.text {
  position: relative;
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  text-transform: uppercase;
  color: #999999;
  font-size: 9px;
  line-height: 1.2;
  padding: 7px 2px;
}
