.Card {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  margin: 20px 40px 20px 20px;
  width: 300px;
  transition: all 0.3s;
}

.Card:hover,
.Card:hover .CardIcons {
  box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 35%);
}

.CardImg {
  height: 200px;
  overflow: hidden;
}

.CardImg img {
  width: 100%;
}

.CardContent {
  margin: 25px;
}

/* .CardContentTitle {
} */

.CardContentText {
  margin-top: 2px;
  font-weight: 300;
  font-size: 15px;
}

.CardSelect a {
  display: block;
  text-decoration: underline;
  padding: 15px 60px 15px 50px;
  background: #f8af00;
  color: #fff;
  font-size: 16px;
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-weight: 300;
}

.CardSelect a:hover {
  background: #0073b7;
  transition: all 0.3s ease-out;
}

.CardSelect a:hover span {
  padding-right: 50px;
}

.CardSelect span {
  padding-right: 30px;
  transition: all 0.3s ease-out;
}

.CardIcons {
  width: 75px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  position: absolute;
  right: -38px;
  bottom: 0;
  text-align: center;
}
