.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  height: 100px;
  margin-bottom: 50px;
  position: relative;
  z-index: 100;
}

.header a {
  flex-basis: 250px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.header a:hover {
  color: #fac53b;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo div {
  margin-left: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
