.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-dark-main);
  height: 100px;
  /* margin-bottom: 50px; */
  position: relative;
  z-index: 100;
}

.nav {
  flex-basis: auto;
  text-align: center;
  color: #fff;
}

.nav .dropdown:hover {
  cursor: pointer;
}

.nav .dropdownMenu {
  display: none;
  flex-direction: column;
  align-items: start;
  position: absolute;
  background-color: #333333;
  padding: 0px 0px 10px 20px;
  width: 90px;
  margin-left: 40px;
}

.nav .dropdownMenu a {
  margin-bottom: 5px;
}

.nav .showMenu {
  display: flex;
}

.header a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo div {
  margin-left: 20px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  transition: all 0.3s ease-in;
}

.header a:hover,
.logo:hover > div {
  color: var(--color-yellow-main);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.profile img {
  background-color: #fff;
  border-radius: 50%;
}

.profile div {
  transition: all 0.3s ease-in;
}

.profile div:hover {
  color: var(--color-yellow-main);
}

.profile span {
  margin: 10px 20px 10px 20px;
}
