.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.headerTitle {
  font-size: 30px;
  font-weight: 300;
}

.headerContent {
  font-size: 22px;
  font-weight: 200;
}

.headerImg {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
