.card {
  position: relative;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  margin: 20px 40px 20px 20px;
  width: 300px;
  transition: all 0.3s;
}

.cardHover:hover {
  box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 35%);
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 5px;
  color: var(--color-dark-main);
  transition: all 0.3s;
  cursor: pointer;
}
.closeButton:hover {
  color: red;
}

/* .card:hover {
  box-shadow: 1px 12px 33px 0 rgb(0 0 0 / 35%);
} */
